bin/
obj/
.vs/
.vscode/
.sonarqube/
TestResults/
docs/*
!docs/architecture/
!docs/architecture/**
*.user
*.suo
*.nupkg
.env
.env.local
*.env.local

Contexto para IA.zip
_contexto_para_ia_extracted/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
